.element-product {
    max-width: 400px;
    display: flex;
    background: #ffffff;
    margin: 10px;
}

.fruct-cover> img {
    width: 200px;
    margin: 10px;
}


.fruct-title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 14, 78);
    padding: 15px 60px 15px 0;
    margin: 10px;
}

.fruct-price {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 14, 78);
}

.fruct-discription {
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    color: red;
}

.add-to-cart {
    width: 120px;
    background: #32439e;
    border: 0px solid #32439e;
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 14, 78);
}