.app-header {
    background: rgb(96, 110, 233);
}

.app-header-conteiner {
    display: flex;
    justify-content: space-between;
}

.menu {
    max-width: 450px;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.list-menu {
    display: flex;
    list-style-type: none;
    padding: 0 10px;
    margin: 5px;
}

.item-menu:hover {
    background: rgb(118, 128, 219);
    padding: 0.5px;
    border-radius: 7px;
}

.item-menu> a{
    display: block;
    padding: 5px;
    font-size: 18px;
    color: rgb(0, 14, 78);
}

.item-bars {
   font-size: 18px;
   padding: 5px;
   color: rgb(110, 109, 109);
}

.app-header-order {
    display: flex;
    margin:0  20px;
    padding: 10px;
}

.app-header-order:hover {
    display: flex;
    background: rgb(118, 128, 219);
    margin: 0 20px;
    padding: 10px;
    border-radius: 7px;
}

.app-header-order h3 {
   margin: 0;
   padding: 5px;
   color: rgb(0, 14, 78);
}

.app-header .title-logo {
    max-width: 860px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title-logo h1 {
    color: rgb(0, 14, 78);
    padding: 0 20px;
}

.search-panel {
    max-width: 400px;
    display: flex;
    flex: 1 1 250px
}

.icon-search {
    position: relative;
    top: 25px;
    left: 25px;
}

.title-logo input {
    max-width: 320px;
    height: 38px;
    margin: 20px 0;
    padding: 0 35px;
    font-size: 17px;
    border-radius: 7px 0 0 7px;
    border: 0px;
}

.button-catalog {
    background: rgb(0, 14, 78);
    margin: 20px 10px;
    padding: 10px 5px;
    font-size: 18px;
    color: rgb(110, 109, 109);
    border-radius: 7px;
    cursor: pointer;
}

.button-catalog button {
    width: 18px;
    background: rgb(0, 14, 78);
    border: 0px;
    padding: 0;
    margin: 0 7px;
}

.title-logo .button-search {
    width: 60px;
    height: 40px;
    background: rgb(0, 14, 78);
    margin: 20px 0;
    color: rgb(110, 109, 109);
    border-radius: 0 7px 7px 0;
    border: 0px;
}

